@import url("https://use.typekit.net/jmk3xov.css");

:root {
  --dark-bg: rgba(15, 15, 15, 0.65);
  --spacing: 350px;
}

body {
  margin:0;
  background-color: rgb(51, 51, 51);
}

main {
  width: 100vw;
  height: 100vh;
  color: rgb(255, 255, 255);
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.fuc {
  background: var(--dark-bg);
  grid-column: 2 / span 4;
  grid-row: 2;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  padding: 2rem;
  line-height: 100%;
  
}

.hec {
  background: var(--dark-bg);
  grid-column: 8 / span 4;
  grid-row: 6;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  padding: 2rem;
  line-height: 100%;

}

.mhlogo {
  position: static;
}

.mhmask {
  position: absolute;
}